mat-toolbar {
    font-size: 1em;
    margin-bottom: 20px;
}

mat-toolbar a {
    text-decoration: none;
    color: inherit;
    padding: 0 1em;
}

mat-toolbar .fill-remaining-space {
    flex: 1 1 auto; /* flex-grow flex-shrink flex-basis */
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}