<mat-card>
    <!-- mat-card-title displays content more prominently -->
    <mat-card-title>Workshops App</mat-card-title>
    <hr />
    <mat-card-content>
        <p>
            The Workshops application serves details of (fictitious) technical workshops happening in various cities. Every workshop has a broad topic (eg. JavaScript), and a workshop has many sessions (each session covers a sub-topic, eg. Closures in JavaScript).
        </p>
        <p>
            You can view a list of workshops, details of every workshop, sessions in a workshop, and also add a new session for a workshop.
        </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer class="text-center p-2">&copy; Sony</mat-card-footer>
</mat-card>